/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue-snackbar {
  background: #ffd740;
  color: black;
}

.red-snackbar {
  background: #f44336;
  color: white;
}

.mat-simple-snackbar-action {
  color: black;
}

.mat-calendar-arrow {
  border: none !important;
  width: 10px !important;
  height: 5px !important;
}

ngx-mat-calendar-header .mat-calendar-arrow {
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-top-width: 5px !important;
  border-top-style: solid !important;
  width: 0 !important;
  height: 0 !important;
}

ngx-mat-month-view .mat-calendar-body-cell {
  position: relative !important;
}
